:root {
  --main-text-font: "Raleway", sans-serif;
  --main-text-color: #212121;
  --second-text-font: "Roboto", sans-serif;
}

body {
  font-family: var(--main-text-font);
  color: var(--main-text-color);
  font-weight: 400px;
  margin: 10px;
  background-color: whitesmoke;
}
.container {
  width: 1200px;
  margin: 0 auto;
  height: auto;
  padding-left: 0px;
}

.main-title {
  font-family: var(--second-text-font);
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.title {
  font-family: var(--second-text-font);
  display: flex;
  justify-content: center;
}
.nav-page_list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}
.nav-page_link {
  display: flex;
  text-decoration: none;
  border: 2px solid black;
  padding: 5px;
  color: red;
}
.nav-page_link:focus,
.nav-page_link:hover {
  color: greenyellow;
}
.gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
  align-items: center;
}

.gallery > li > img {
  width: 600px;
  height: 400px;
}
